<div class="container-fluid" style="background-color: lightgray">
  <navbar></navbar>
  <br />
  <div class="container">
    <div class="row pt-2 pb-2">
      <div class="col-lg-3" style="background-color: white">
        <app-left
          [price]="priceStruct"
          [rating]="rateStruct"
          [payment]="payStruct"
          (selOption)="optChange()"
        ></app-left>
      </div>
      <div class="col-lg-9 col-12 p-2">
        <div
          class="row mb-4"
          style="
            background-color: #e5e7eb;
            border-radius: 3px;
            margin-left: 7px;
          "
        >
          <div class="col-3"><strong>Sort By:</strong></div>
          <div
            class="col-3 text-right"
            style="font-size: 0.78571rem"
            (click)="sortBy('price')"
          >
            Price
          </div>
          <div
            class="col-3 text-right"
            style="font-size: 0.78571rem"
            (click)="sortBy('rating')"
          >
            Star Rating
          </div>
        </div>
        <div *ngFor="let h1 of data">
          <app-all-hotel [hotel]="h1"></app-all-hotel>
        </div>
      </div>
    </div>
  </div>
</div>
