<div class="row mt-1 ml-3 pt-2" id="box1" *ngIf="!traveller.returnDate">
  <div class="col">
    <div class="row mb-1">
      <div class="col-lg-1 col-2">
        <img
          style="width: 28px; height: 28px; border-radius: 5px"
          src="{{ f1.logo }}"
        />
      </div>
      <div class="col-lg-1 col-3">
        <div class="row">
          <div
            class="col d-none d-lg-block"
            style="font-size: 0.92857rem; font-family: Rubik-Regular"
          >
            {{ f1.name }}
          </div>
        </div>
        <div
          class="row text-muted"
          style="font-size: 0.78571rem; font-family: Rubik-Regular; color: #999"
        >
          {{ f1.code }}
        </div>
      </div>
      <div
        class="col-lg-1 col-3 text-right"
        style="
          font-size: 1.07143rem;
          font-family: Rubik-Regular;
          font-weight: 400;
        "
      >
        <div class="row">
          <strong>{{ f1.timeDept }}</strong>
        </div>
        <div class="row" style="font-size: x-small">{{ f1.desDept }}</div>
      </div>
      <div class="col-1 d-none d-lg-block"><hr /></div>
      <div
        class="col-lg-1 col-3 text-left"
        style="
          font-size: 1.07143rem;
          font-family: Rubik-Regular;
          font-weight: 400;
        "
      >
        <div class="row">
          <strong>{{ f1.timeArr }}</strong>
        </div>
        <div class="row" style="font-size: x-small">{{ f1.desArr }}</div>
      </div>
      <div class="col-1 pt-1 d-none d-lg-block">
        <span style="border-left: 3px solid lightgrey; height: 60px"></span>
      </div>
      <div
        class="col-1 d-none d-lg-block text-left"
        style="font-size: 0.78571rem; font-family: Rubik-Regular"
      >
        <div class="row">
          <strong>{{ f1.total }}</strong>
        </div>
        <div class="row">Non-Stop</div>
      </div>
      <div class="col-2 d-none d-lg-block"></div>
      <div class="col-lg-2 col-5 text-right" style="font-size: 1.28751rem">
        <strong>{{ f1.Price }}</strong>
      </div>
      <div class="col-lg-1 col-3 text-right">
        <button
          class="btn btn-sm btn-outline-danger text-danger"
          id="btn"
          (click)="book(f1)"
        >
          <strong>Book</strong>
        </button>
      </div>
    </div>
    <hr style="padding: 0; margin: 0" />
    <div class="row pb-1">
      <div class="col-7 d-none d-lg-block">
        <a
          style="font-size: 12px; color: blue; cursor: pointer"
          (click)="flightDetails()"
        >
          Flight Details
          <i class="fa fa-angle-{{ angel ? 'up' : 'down' }}"></i>
        </a>
      </div>
      <div class="col-5 text-right d-none d-lg-block">
        <span id="rect">eCash</span>
        <span id="rect1">₹ 250</span>
      </div>
    </div>
    <div class="row" *ngIf="angel">
      <div class="col-7">
        <div
          class="row"
          style="
            background-color: #301b41;
            font-size: 20px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 8px;
            color: white;
            font-weight: 500;
          "
        >
          Flight Details
        </div>
        <div class="row">
          <div class="col-2">
            <img src="{{ f1.logo }}" style="width: 40px" />
          </div>
          <div class="col-7 text-left">
            <div class="row" style="font-size: 12px">{{ f1.name }}</div>
            <div class="row" style="font-size: 10px; color: grey">
              {{ f1.airBus }}
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-3 ml-1" style="font-size: 14px">
            <div class="row ml-1">{{ f1.depDept }}</div>
            <div class="row ml-1">
              <strong>{{ f1.timeDept }}</strong>
            </div>
            <div class="row ml-1" style="font-size: 12px">{{ f1.T1 }}</div>
          </div>
          <div class="col-5">
            <div class="row" style="font-size: 12px">Time Taken</div>
            <div class="row">
              <div class="col-9"><hr /></div>
              <div class="col-2 pt-2" style="font-size: 10px">
                <i class="fa fa-plane"></i>
              </div>
            </div>
          </div>
          <div class="col-3" style="font-size: 14px">
            <div class="row">{{ f1.desArr }}</div>
            <div class="row">
              <strong>{{ f1.timeArr }}</strong>
            </div>
            <div class="row" style="font-size: 12px">{{ f1.T2 }}</div>
          </div>
        </div>
        <br />
        <div
          class="row ml-2 mr-2"
          style="font-size: 12px; border-radius: 5px; background-color: #f9f9f9"
        >
          <div class="col text-center">
            Checkin Baggage:
            <i class="fa fa-briefcase" style="font-size: 10px"></i>
            {{ f1.checkin }}kg
          </div>
        </div>
      </div>
      <div class="col-5" style="background-color: #5a426d; color: white">
        <div class="row pl-1 pt-3 pb-3">
          <div class="col-6 border-bottom">Fare Summary</div>
          <div class="col-6">Fare Rules</div>
        </div>
        <div>
          <div class="row" style="font-size: 14px">
            <div class="col-4">Fare Summary</div>
            <div class="col-4">Base and Fare</div>
            <div class="col-4">Fees and Taxes</div>
          </div>
          <div class="row" style="font-size: 12px; color: #fff">
            <div class="col-4">Adult X 1</div>
            <div class="col-4">₹ {{ f1.Price }}</div>
            <div class="col-4">₹ 1000</div>
          </div>
          <hr />
          <div class="row" style="font-size: 16px">
            <div class="col-6">You Pay:</div>
            <div class="col-6 text-right">₹ {{ f1.Price }}</div>
          </div>
          <div class="row" style="font-size: 0.85714rem">
            <div class="col-12">
              Note: Total fare displayed above has been rounded off and may show
              a slight difference from actual fare.
            </div>
          </div>
          <div class="row pt-2 pb-2">
            <div class="col-12 text-center">
              <button
                class="btn btn-danger text-white btn-block"
                routerLinkActive="active"
                (click)="book(f1)"
              >
                Book
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="row mt-1 ml-3 pt-2"
  id="box1"
  style="border-radius: 5px"
  *ngIf="traveller.returnDate"
>
  <div class="col">
    <div class="row">
      <div class="col-lg-2 col-3"><img src="{{ f1.logo }}" id="img1" /></div>
      <div class="col-lg-1 col-3 text-right" id="fs9">
        <div class="row">{{ f1.timeDept }}</div>
        <div class="row" style="font-size: x-small">{{ f1.name }}</div>
      </div>
      <div class="col-lg-2 col-2">
        <hr style="border: solid 1px lightgrey" />
      </div>
      <div class="col-lg-1 col-3 text-left" id="fs9">
        <div class="row">{{ f1.timeArr }}</div>
      </div>
      <div class="col-1 pt-1 d-none d-lg-block">
        <span style="border-left: 3px solid lightgrey; height: 60px"></span>
      </div>
      <div class="col-lg-2 col-6 text-right" id="fs8">
        <div class="row">
          <div class="col">{{ f1.total }}</div>
        </div>
        <div class="row"><div class="col">Non-Stop</div></div>
      </div>
      <div class="col-lg-2 col-3 text-right" id="fs9">
        <strong>₹{{ f1.Price }}</strong>
      </div>
      <div class="col-1 text-right">
        <div class="row">
          <div class="col text-right">
            <input
              type="radio"
              id="{{ name }}{{ f1.id }}"
              name="{{ name }}"
              checked="{{ selId === f1.id }}"
              value="{{ f1.id }}"
              (change)="emitChange()"
              [(ngModel)]="selId"
            />
          </div>
        </div>
      </div>
    </div>
    <hr style="padding: 0; margin: 0" />
    <div class="row pb-1 pt-0">
      <div class="col-7 d-none d-lg-block">
        <a
          style="font-size: 12px; color: blue; cursor: pointer"
          (click)="flightDetails()"
        >
          Flight Details
          <i class="fa fa-angle-{{ angel ? 'up' : 'down' }}"></i>
        </a>
      </div>
      <div class="col-5 text-right d-none d-lg-block">
        <span id="rect">eCash</span>
        <span id="rect1">₹ 250</span>
      </div>
      <div class="col-5 text-right d-none d-lg-block"></div>
    </div>
    <div class="row" *ngIf="angel">
      <div class="col-7">
        <div
          class="row"
          style="
            background-color: #301b41;
            font-size: 20px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 8px;
            color: white;
            font-weight: 500;
          "
        >
          Flight Details
        </div>
        <div class="row">
          <div class="col-2">
            <img src="{{ f1.logo }}" style="width: 40px" />
          </div>
          <div class="col-7 text-left">
            <div class="row" style="font-size: 12px">{{ f1.name }}</div>
            <div class="row" style="font-size: 10px; color: grey">
              {{ f1.airBus }}
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-3 ml-1" style="font-size: 14px">
            <div class="row ml-1">{{ f1.depDept }}</div>
            <div class="row ml-1">
              <strong>{{ f1.timeDept }}</strong>
            </div>
            <div class="row ml-1" style="font-size: 12px">{{ f1.T1 }}</div>
          </div>
          <div class="col-5">
            <div class="row" style="font-size: 12px">Time Taken</div>
            <div class="row">
              <div class="col-9"><hr /></div>
              <div class="col-2 pt-2" style="font-size: 10px">
                <i class="fa fa-plane"></i>
              </div>
            </div>
          </div>
          <div class="col-3" style="font-size: 14px">
            <div class="row">{{ f1.desArr }}</div>
            <div class="row">
              <strong>{{ f1.timeArr }}</strong>
            </div>
            <div class="row" style="font-size: 12px">{{ f1.T2 }}</div>
          </div>
        </div>
        <br />
        <div
          class="row ml-2 mr-2"
          style="font-size: 12px; border-radius: 5px; background-color: #f9f9f9"
        >
          <div class="col text-center">
            Checkin Baggage:
            <i class="fa fa-briefcase" style="font-size: 10px"></i>
            {{ f1.checkin }}kg
          </div>
        </div>
      </div>
      <div class="col-5" style="background-color: #5a426d; color: white">
        <div class="row pl-1 pt-3 pb-3">
          <div class="col-6 border-bottom">Fare Summary</div>
          <div class="col-6">Fare Rules</div>
        </div>
        <div>
          <div class="row" style="font-size: 14px">
            <div class="col-4">Fare Summary</div>
            <div class="col-4">Base and Fare</div>
            <div class="col-4">Fees and Taxes</div>
          </div>
          <div class="row" style="font-size: 12px; color: #fff">
            <div class="col-4">Adult X 1</div>
            <div class="col-4">₹ {{ f1.Price }}</div>
            <div class="col-4">₹ 1000</div>
          </div>
          <hr />
          <div class="row" style="font-size: 16px">
            <div class="col-6">You Pay:</div>
            <div class="col-6 text-right">₹ {{ f1.Price }}</div>
          </div>
          <div class="row" style="font-size: 0.85714rem">
            <div class="col-12">
              Note: Total fare displayed above has been rounded off and may show
              a slight difference from actual fare.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
