<div class="container-fluid" style="background-color: #fcfcfc">
  <navbar></navbar>
  <br />
  <div
    class="row pt-2 pb-2"
    style="
      background: linear-gradient(to right, #b7243a, #132522);
      color: white;
    "
  >
    <div class="col-1 text-center mt-1 d-none d-lg-block">
      <i class="fa fa-fighter-jet" style="font-size: 26px"></i>
    </div>
    <div class="col-lg-2 col-5">
      <div class="row" id="fs10">
        <div class="col">From</div>
      </div>
      <div class="row" id="fs11">
        <div class="col">
          <b>{{ data.dept }}</b>
        </div>
      </div>
    </div>
    <div class="col-1 mt-1">
      <i class="fa fa-exchange"></i>
    </div>
    <div class="col-lg-2 col-5">
      <div class="row" id="fs10">
        <div class="col">To</div>
      </div>
      <div class="row" id="fs11">
        <div class="col">
          <b>{{ data.arr }}</b>
        </div>
      </div>
    </div>
    <div class="col-2 d-none d-lg-block">
      <div class="row" style="font-size: 0.71429rem; font-family: Rubik-Medium">
        Date
      </div>
      <div class="row" style="font-size: 1.14286rem; font-family: Rubik-Medium">
        <b>{{ data.pickDate }}</b>
      </div>
    </div>
    <div class="col-2 d-none d-lg-block">
      <div class="row" style="font-size: 0.71429rem; font-family: Rubik-Medium">
        Traveller(s)
      </div>
      <div class="row" style="font-size: 1.14286rem; font-family: Rubik-Medium">
        <b>{{ data.count }},{{ data.type }}</b>
      </div>
    </div>
    <div class="col-1 mt-1 d-none d-lg-block">
      <button class="btn btn-danger text-white" routerLinkActive="active">
        Search Again
      </button>
    </div>
  </div>
  <app-filters
    [price]="priceStruct"
    [time]="timeStruct"
    [airline]="airlineStruct"
    [aircraft]="aircraftStruct"
    (selOption)="otpChange()"
  ></app-filters>
  <br />
  <div class="row">
    <div class="col-lg-9 col-12">
      <div
        class="row pl-4 pt-1 mb-4"
        id="id1"
        style="background-color: E5E7EB; border-radius: 3px; margin-left: 7px"
      >
        <div class="col-2">
          <strong>Sort By:</strong>
        </div>
        <div
          class="col-lg-2 col-3 text-right {{
            arriveArrow ? 'text-primary' : ''
          }}"
          id="id1"
          style="font-size: 0.78571rem"
          (click)="sortBy('arrival')"
        >
          ARRIVAL
          <i class="fa fa-arrow-up" *ngIf="arriveArrow"></i>
        </div>
        <div
          class="col-lg-2 col-3 text-right {{ depArrow ? 'text-primary' : '' }}"
          id="id1"
          style="font-size: 0.78571rem"
          (click)="sortBy('depart')"
        >
          DEPART
          <i class="fa fa-arrow-up" *ngIf="depArrow"></i>
        </div>
        <div
          class="col-lg-2 col-3 text-right {{
            priceArrow ? 'text-primary' : ''
          }}"
          id="id1"
          style="font-size: 0.78571rem"
          (click)="sortBy('price')"
        >
          PRICE
          <i class="fa fa-arrow-up" *ngIf="priceArrow"></i>
        </div>
      </div>
      <div *ngIf="!data.returnDate">
        <div *ngFor="let f1 of allFlights">
          <app-flights [flight]="f1"></app-flights>
          <br />
        </div>
      </div>
      <div class="row" *ngIf="data.returnDate">
        <div class="col-6">
          <div
            class="row pl-4"
            style="
              background-color: #e5e7eb;
              border-radius: 3px;
              margin-left: 6px;
              font-size: 0.78571rem;
            "
          >
            <div class="col-12">
              {{ data.dept }} <i class="fa fa-arrow-right"></i> {{ data.arr }}
            </div>
          </div>
          <br />
          <div *ngFor="let f1 of allFlights">
            <app-flights
              [flight]="f1"
              [selId]="selFId"
              [name]="'Dept'"
              (optChange)="optRetChange($event)"
            ></app-flights>
            <br />
          </div>
        </div>
        <div class="col-6">
          <div
            class="row pl-4"
            style="
              background-color: #e5e7eb;
              border-radius: 3px;
              margin-left: 6px;
              font-size: 0.78571rem;
            "
          >
            <div class="col-12">
              {{ data.arr }}<i class="fa fa-arrow-right"></i>{{ data.dept }}
            </div>
          </div>
          <br />
          <div *ngFor="let f1 of returnFlight">
            <app-flights
              [flight]="f1"
              [name]="'Arr'"
              [selId]="selRId"
              (optChange)="optRetChange($event)"
            ></app-flights>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 ml-1 d-none d-lg-block">
      <img
        src="https://i.ibb.co/18cngjz/banner-1575268481164-ICICI-Dom-Flight-New-Homepage-SRP-182-X300.png"
        style="width: auto"
      />
    </div>
  </div>
  <div
    *ngIf="selFlight && selRetFlight"
    class="row fixed-bottom pt-4 pb-4"
    style="background-color: #43264e; color: white"
  >
    <div class="col-4 d-none d-lg-block">
      <div class="row">
        <div class="col-3 text-center">
          <img
            src="{{ selFlight.logo }}"
            style="width: 40px; border-radius: 6px"
          />
        </div>
        <div class="col-2 d-none d-lg-block" style="font-size: 0.85714rem">
          {{ selFlight.name }}
        </div>
        <div class="col-2 d-none d-lg-block">{{ selFlight.timeDept }}</div>
        <div class="col-3 d-none d-lg-block">
          <hr style="border-color: white" />
        </div>
        <div class="col-2 d-none d-lg-block">{{ selFlight.timeArr }}</div>
      </div>
    </div>
    <div class="col-4 d-none d-lg-block">
      <div class="row">
        <div class="col-3 text-center">
          <img
            src="{{ selRetFlight.logo }}"
            style="width: 40px; border-radius: 6px"
          />
        </div>
        <div class="col-2" style="font-size: 0.85714rem">
          {{ selRetFlight.name }}
        </div>
        <div class="col-2">{{ selRetFlight.timeDept }}</div>
        <div class="col-3"><hr style="border-color: white" /></div>
        <div class="col-2">{{ selRetFlight.timeArr }}</div>
      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="row">
        <div class="col-6 ml-lg-0 ml-1">
          <div class="row" style="font-size: 0.85714rem">
            <div class="col">Total Fare</div>
          </div>
          <div class="row" style="font-size: 1.57143rem">
            <div class="col">
              <strong>{{ totalFare }}</strong>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-4 mt-1">
          <button class="btn btn-danger text-white" (click)="book()">
            Book
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
