<div class="row">
  <div class="col-3">
    <span class="fa-stack fa-2x" (click)="flight()">
      <i
        class="fa {{ sel === 1 ? 'red1' : 'black1' }} fa-circle fa-stack-2x"
        style="font-size: 2em"
      ></i>
      <i class="fa fa-plane fa-stack-1x fa-inverse" style="font-size: 1em"></i>
    </span>
  </div>
  <div class="col-3">
    <span class="fa-stack fa-2x" (click)="hotels()">
      <i
        class="fa {{ sel === 2 ? 'red1' : 'black1' }} fa-circle fa-stack-2x"
        style="font-size: 2em"
      ></i>
      <i class="fa fa-bed fa-stack-1x fa-inverse" style="font-size: 1em"></i>
    </span>
  </div>
  <div class="col-3">
    <span class="fa-stack fa-2x" (click)="buses()">
      <i
        class="fa {{ sel === 3 ? 'red1' : 'black1' }} fa-circle fa-stack-2x"
        style="font-size: 2em"
      ></i>
      <i class="fa fa-bus fa-stack-1x fa-inverse" style="font-size: 1em"></i>
    </span>
  </div>
  <div class="col-3">
    <span class="fa-stack fa-2x" (click)="taxis()">
      <i
        class="fa {{ sel === 4 ? 'red1' : 'black1' }} fa-circle fa-stack-2x"
        style="font-size: 2em"
      ></i>
      <i class="fa fa-taxi fa-stack-1x fa-inverse" style="font-size: 1em"></i>
    </span>
  </div>
</div>
<div class="row">
  <div class="col text-center text-dark">
    <h4>{{ data }}</h4>
  </div>
</div>
<div class="row">
  <div class="col" *ngIf="data === 'Flights'">
    <app-flight></app-flight>
  </div>
  <div class="col" *ngIf="data === 'Hotels'">
    <hotel></hotel>
  </div>
</div>
