<nav
  class="navbar navbar-fluid navbar-expand-lg navbar-light bg-light text-white"
>
  <a class="navbar-brand" href="#">
    <img
      src="https://www.yatra.com/content/fresco/beetle/images/newIcons/yatra_logo.svg"
      style="height: 40px"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/myAccount" routerLinkActive="active">
          My Account
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/support" routerLinkActive="active">
          Support
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/offers" routerLinkActive="active">
          Offers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/yatra" routerLinkActive="active">
          Yatra for Business
        </a>
      </li>
    </ul>
  </div> -->
</nav>
