<div class="pt-1 pl-2">
  <strong style="font-size: 18px">Filters</strong>
  <hr />
  <div class="row mt-1 mb-2">
    <div class="col">
      <h6>PRICE FOR 2 NIGHTS</h6>
    </div>
  </div>
  <div class="pl-3" *ngFor="let p1 of price.price">
    <input
      type="radio"
      class="form-check-input"
      id="{{ p1 }}"
      value="{{ p1 }}"
      checked="p1===price.selected"
      name="price01"
      [(ngModel)]="price.selected"
      (change)="emitChange()"
    />{{ p1 }}
  </div>
  <hr />
  <div class="row mb-2">
    <div class="col">
      <h6>STAR RATING</h6>
    </div>
  </div>
  <div class="pl-3" *ngFor="let r1 of rating.rating">
    <input
      type="radio"
      class="form-check-input"
      id="{{ r1 }}"
      value="{{ r1 }}"
      name="rating01"
      checked="r1===rating.selected"
      [(ngModel)]="rating.selected"
      (change)="emitChange()"
    />{{ r1 }}
  </div>
  <hr />
  <div class="row mb-2">
    <div class="col">
      <h6>PAYMENT METHOD</h6>
    </div>
  </div>
  <div class="pl-3" *ngFor="let p1 of payment.payment">
    <input
      type="radio"
      class="form-check-input"
      id="{{ p1 }}"
      value="{{ p1 }}"
      name="payment01"
      checked="p1===payment.selected"
      [(ngModel)]="payment.selected"
      (change)="emitChange()"
    />{{ p1 }}
  </div>
</div>
