<div class="zippy">
  <div class="zippy-heading" [class.expanded]="isExpanded" (click)="toggle()">
    <i
      class="fa mt-4"
      [ngClass]="{
        'fa-chevron-up': isExpanded,
        'fa-chevron-down': !isExpanded
      }"
    ></i>
    <div *ngIf="room">
      <div *ngIf="traveller == 1 && room == 1">
        {{ traveller }} {{ title }}, 1 Room
      </div>
      <div class="row" *ngIf="traveller > 1">
        {{ traveller }} Travellers,&nbsp;
        <div *ngIf="room == 1 && traveller > 1">{{ room }} Room</div>
        <div *ngIf="room > 1">{{ room }} Rooms</div>
      </div>
    </div>
    <div *ngIf="!room">
      <div *ngIf="traveller == 1">
        <h5>{{ traveller }} {{ title }}</h5>
      </div>
      <div *ngIf="traveller > 1">
        <h5>{{ traveller }} Travellers, Premium Economy</h5>
      </div>
    </div>
  </div>
</div>
<br />
<div class="zippy-body" *ngIf="isExpanded">
  <ng-content></ng-content>
</div>
