<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <strong for="location" style="font-size: 0.8em"
        >Select City, Location, Hotel name</strong
      >
      <select id="location" class="form-control" [(ngModel)]="loc">
        <option *ngFor="let l1 of locations" value="{{ l1.value }}">
          {{ l1.display }}
        </option>
      </select>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-5">
      <h6 style="font-size: 0.8em; font-weight: bold">Check-in Date</h6>
      <div
        class="font-weight-bold"
        style="font-size: 0.9em"
        (click)="showCalendar()"
      >
        {{ date.getDate() }} {{ mlist[date.getMonth()] }},
        {{ date.getFullYear() }}
      </div>
      <small>{{ days[date.getDay()] }}</small>
      <div *ngIf="calender">
        <calendar
          [month]="date.getMonth()"
          [year]="date.getFullYear()"
          [date]="date.getDate()"
          (newDate)="newDate($event)"
        ></calendar>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-5">
      <h6 style="font-size: 0.8em; font-weight: bold">Check-out Date</h6>
      <div
        class="font-weight-bold"
        style="font-size: 0.9em"
        (click)="showReturnCalendar()"
      >
        {{ returnDate.getDate() }} {{ mlist[returnDate.getMonth()] }},
        {{ returnDate.getFullYear() }}
      </div>
      <small>{{ days[returnDate.getDay()] }}</small>
      <div *ngIf="returnCalendar">
        <calendar
          [month]="returnDate.getMonth()"
          [year]="returnDate.getFullYear()"
          [date]="returnDate.getDate()"
          (newDate)="newReturnDate($event)"
        ></calendar>
      </div>
    </div>
  </div>
  <hr />
  <strong style="font-size: 0.8em">Traveller and Hotel</strong>
  <zippy
    title="Traveller, 1 Room"
    [traveller]="traveller"
    [room]="rooms.length"
  >
    <hr />
    <div class="row" *ngFor="let r1 of rooms; index as i">
      <small class="col-12" style="font-weight: bold">Room {{ i + 1 }} :</small>
      <div class="col-1 text-right">
        <i
          class="fa fa-user"
          style="font-size: 0.8em; margin-top: 3em; height: 10px"
        ></i>
      </div>
      <div class="col-1"></div>
      <div class="col-4">
        <h6 style="font-size: 0.8em">
          Adult <small class="text-muted"> Above 12 years</small>
        </h6>
        <button
          class="btn btn-sm btn-white border px-3"
          (click)="decrease('adult', i)"
        >
          -
        </button>
        <button class="btn btn-sm btn-muted border px-3">{{ r1.adult }}</button>
        <button
          class="btn btn-sm btn-white border px-3"
          (click)="increase('adult', i)"
        >
          +
        </button>
      </div>
      <div class="col-1"></div>
      <div class="col-4">
        <h6 style="font-size: 0.8em">
          Child <small class="text-muted"> Below 12 years</small>
        </h6>
        <button class="btn btn-sm border px-3" (click)="decrease('child', i)">
          -
        </button>
        <button class="btn btn-sm btn-muted border px-3">{{ r1.child }}</button>
        <button class="btn btn-sm border px-3" (click)="increase('child', i)">
          +
        </button>
      </div>
      <div class="col-1"></div>
    </div>
    <button
      class="btn btn-sm btn-light text-danger border-danger m-2"
      (click)="addRoom()"
    >
      Add Room
    </button>
    <button
      *ngIf="rooms.length > 1"
      class="btn btn-sm btn-light text-danger border-danger m-2"
      (click)="removeRoom()"
    >
      Remove Room
    </button>
  </zippy>
  <hr />
  <div class="row">
    <div class="col text-right m-3">
      <button
        class="btn btn-danger"
        style="cursor: pointer"
        (click)="searchRoom()"
      >
        Search Rooms
        <i class="fa fa-arrow-right" aria-hidden="true"> </i>
      </button>
    </div>
  </div>
</div>
