<div class="mainExpand">
  <div class="row pt-2 pb-2" id="id1" style="box-shadow: 0 2px 4px 0 #ffa2a2">
    <div class="col-1 text-center d-none d-lg-block" style="font-size: 14px">
      <i class="fa fa-filter"></i>
      Filter
    </div>
    <div
      class="col-lg-2 col-3 text-center"
      style="cursor: pointer"
      *ngIf="!mainExpand"
      (click)="show()"
    >
      Price
      <i class="fa fa-angle-down"></i>
    </div>
    <div
      class="col-lg-2 col-3 text-center"
      style="cursor: pointer"
      *ngIf="!mainExpand"
      (click)="show()"
    >
      Depart
      <i class="fa fa-angle-down"></i>
    </div>
    <div
      class="col-lg-2 col-3 text-center"
      style="cursor: pointer"
      *ngIf="!mainExpand"
      (click)="show()"
    >
      Airline
      <i class="fa fa-angle-down"></i>
    </div>
    <div
      class="col-lg-2 col-3 text-center"
      style="cursor: pointer"
      *ngIf="!mainExpand"
      (click)="show()"
    >
      Aircraft
      <i class="fa fa-angle-down"></i>
    </div>
    <div class="col-lg-8 col-3 text-right" *ngIf="mainExpand">
      <button class="btn btn-outline-dark text-secondary" (click)="cancel()">
        <strong>Cancel</strong>
      </button>
    </div>
    <div class="col-1" *ngIf="filter">
      <button class="btn btn-danger text-white" (click)="clearFilter()">
        Clear Filters
      </button>
    </div>
  </div>
  <div class="expand" *ngIf="mainExpand">
    <div class="row">
      <div class="col-lg-3 ml-1 col-3">
        <div class="row ml-1" id="id1">
          <strong>Price</strong>
        </div>
        <div class="p-1" *ngFor="let p1 of price.price; index as i" id="id1">
          <input
            class="mr-2"
            type="radio"
            id="{{ i }}"
            name="radio01"
            value="{{ p1 }}"
            checked="{{ p1 == price.selected }}"
            [(ngModel)]="price.selected"
            (change)="emitChange()"
          />{{ p1 }}
        </div>
      </div>
      <div class="col-lg-3 col-3">
        <div class="row ml-1" id="id1">
          <strong>Time</strong>
        </div>
        <div class="p-1" *ngFor="let t1 of time.time; index as i" id="id1">
          <input
            class="mr-2"
            type="radio"
            id="{{ i }}"
            name="radio02"
            value="{{ t1 }}"
            checked="{{ t1 == time.selected }}"
            [(ngModel)]="time.selected"
            (change)="emitChange()"
          />{{ t1 }}
        </div>
      </div>
      <div class="col-lg-3 col-3">
        <div class="row ml-1" id="id1">
          <strong>Airline</strong>
        </div>
        <div class="p-1" *ngFor="let a1 of airline; index as i" id="id1">
          <input
            class="mr-2"
            type="checkbox"
            id="{{ i }}"
            value="a1.airline"
            [(ngModel)]="a1.selected"
            (change)="emitChange()"
          />{{ a1.airline }}
        </div>
      </div>
      <div class="col-lg-2 col-3">
        <div class="row ml-1" id="id1">
          <strong>Aircraft</strong>
        </div>
        <div class="p-1" *ngFor="let a1 of aircraft; index as i" id="id1">
          <input
            class="mr-2"
            type="checkbox"
            id="{{ i }}"
            value="a1.aircraft"
            [(ngModel)]="a1.selected"
            (change)="emitChange()"
          />{{ a1.aircraft }}
        </div>
      </div>
    </div>
  </div>
</div>
