<div class="container-fluid" style="background-color: lightgray">
  <navbar></navbar>
  <div class="row">
    <div class="col-lg-9 col-12">
      <div class="row mt-2 mb-2">
        <div class="col-9 ml-1" style="font-size: 20px">
          <strong><i class="fa fa-credit-card"></i> Payment Method</strong>
        </div>
      </div>
      <div class="row bg-white ml-1" id="box1">
        <div class="col-lg-2 col-4 text-center" id="fs12">
          <div
            class="border bg-white"
            style="cursor: pointer"
            *ngFor="let p1 of payMethod"
            (click)="pay(p1)"
          >
            <div class="mt-2 mb-2">
              {{ p1 }}
            </div>
          </div>
        </div>
        <div class="col-8" id="fs12">
          <br /><br />
          <div class="row">
            <div class="col ml-4">
              <strong>Pay with {{ payOption }}</strong>
            </div>
          </div>
          <br /><br />
          <div class="row">
            <div class="col-lg-4 col-5 ml-4" style="font-size: 20px">
              <strong>₹ {{ data.total }}</strong>
            </div>
            <div class="col-6">
              <button class="btn btn-danger text-white btn-md">Pay Now</button>
            </div>
          </div>
          <div class="row">
            <div class="col text-secondary text-center" style="font-size: 12px">
              By clicking Pay Now, you are agreeing to terms and Conditions and
              Privacy Policy
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="row mt-2 mb-2">
        <div class="col-11 ml-1 text-left" style="font-size: 16px">
          Payment Details
        </div>
      </div>
      <div class="row bg-white ml-1 mr-1" id="box2">
        <div class="col">
          <div class="row">
            <div class="col-8 text-left" style="font-size: 1rem">
              Total Flight Price
            </div>
            <div class="col-4 text-right" style="font-size: 1rem">
              ₹ {{ data.total }}
            </div>
          </div>
          <div class="row">
            <div class="col-8 text-left" style="font-size: 1rem">
              Convenience Fees
            </div>
            <div class="col-4 text-right" style="font-size: 1rem">₹ 350</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6 text-left" style="font-size: 1.7rem">
              <strong>You Pay</strong>
            </div>
            <div class="col-6 text-right" style="font-size: 1.7rem">
              ₹ {{ total }}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6 text-left">Earn eCash</div>
            <div class="col-6 text-right" style="font-size: 1rem">₹ 250</div>
          </div>
        </div>
      </div>
      <div class="row mt-1 mb-1">
        <div class="col ml-1">Booking Summary</div>
      </div>
      <div class="row bg-white ml-1 mr-1" id="box2">
        <div class="col">
          <div class="row">
            <div class="col-6">
              <img
                style="width: 28px; height: 28px; border-radius: 6px"
                src="{{ data.departure.logo }}"
              />
            </div>
            <div class="col-5 mr-1 text-right" id="fs12">
              {{ data.departure.code }}
            </div>
          </div>
          <div class="row">
            <div class="col-5 pl-1" id="fs12">{{ data.departure.desDept }}</div>
            <div class="col-2 text-left">
              <i class="fa fa-fighter-jet" style="color: lightgray"></i>
            </div>
            <div class="col-5" id="fs12">{{ data.departure.desArr }}</div>
          </div>
        </div>
      </div>
      <div class="row bg-white ml-1 mr-1" id="box2" *ngIf="data.arrival">
        <div class="col">
          <div class="row">
            <div class="col-6">
              <img
                style="width: 28px; height: 28px; border-radius: 6px"
                src="{{ data.arrival.logo }}"
              />
            </div>
            <div class="col-5 mr-1 text-right" id="fs12">
              {{ data.arrival.code }}
            </div>
          </div>
          <div class="row">
            <div class="col-5 pl-1" id="fs12">{{ data.arrival.desDept }}</div>
            <div class="col-2 text-left">
              <i class="fa fa-fighter-jet" style="color: lightgray"></i>
            </div>
            <div class="col-5" id="fs12">{{ data.arrival.desArr }}</div>
          </div>
        </div>
      </div>
      <div class="row ml-1 mr-1 mt-1 mb-1">
        <div class="col">Contact Details</div>
      </div>
      <div class="row bg-white ml-1 mr-1" id="box2">
        <div class="col">
          <div class="row" *ngFor="let p1 of data.passengers; index as i">
            <div class="col" id="fs13">
              {{ i + 1 }}. {{ p1.firstName }} {{ p1.lastName }}
            </div>
          </div>
          <hr />
          <div class="row" id="fs13">
            <div class="col-4 text-secondary">Email</div>
            <div class="col-8 text-secondary">{{ data.email }}</div>
          </div>
          <div class="row" id="fs13">
            <div class="col-4 text-secondary">Phone</div>
            <div class="col-8 text-secondary">{{ data.mobile }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
