<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <button
        class="btn btn-sm btn-{{
          btn === 'one' ? 'primary' : 'outline-primary'
        }} border"
        (click)="selectedWay('one')"
      >
        One Way
      </button>
      <button
        class="btn btn-sm btn-{{
          btn === 'return' ? 'primary' : 'outline-primary'
        }} ml-1 border"
        (click)="selectedWay('return')"
      >
        Return
      </button>
      <!-- <button class="btn btn-sm btn-primary ml-1">Multi City</button> -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-6">
      <div class="row">
        <div class="col" id="id1">
          <strong>Depart From</strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <select
            id="depart"
            (change)="matchCity()"
            class="form-control"
            [(ngModel)]="depart"
          >
            <option value="">Select City</option>
            <option *ngFor="let c1 of city" value="{{ c1 }}">{{ c1 }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-1 mt-4 d-none d-lg-block">
      <i class="fa fa-arrow-right" style="font-size: 40px; color: #9fdbac"></i>
    </div>
    <div class="col-5">
      <div class="row" id="id1">
        <strong>Going To</strong>
      </div>
      <div class="row">
        <select
          id="going"
          (change)="matchCity()"
          class="form-control"
          [(ngModel)]="going"
        >
          <option value="">Select City</option>
          <option *ngFor="let c1 of city" value="{{ c1 }}">{{ c1 }}</option>
        </select>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-lg-6 col-7 col-md-5">
      <div class="row">
        <strong>Departure Date</strong>
      </div>
      <div class="row" (click)="showCalendar()">
        <span>
          <h5>
            {{ date.getDate() }} {{ mlist[date.getMonth()] }},
            {{ date.getFullYear() }}
          </h5>
        </span>
      </div>
      <p>{{ days[date.getDay()] }}</p>
      <div *ngIf="calender">
        <calendar
          [month]="date.getMonth()"
          [year]="date.getFullYear()"
          [date]="date.getDate()"
          (newDate)="newDate($event)"
        ></calendar>
      </div>
    </div>
    <div class="col-lg-6 col-7">
      <div class="row">
        <h6>Return Date</h6>
      </div>
      <div class="row" *ngIf="btn == 'one'">
        <p>
          <a href="#">
            <small>Book round trip to save extra</small>
          </a>
        </p>
      </div>
      <div *ngIf="btn == 'return'">
        <div class="row">
          <span (click)="showReturnCalendar()">
            <h5>
              {{ returnDate.getDate() }} {{ mlist[returnDate.getMonth()] }},
              {{ returnDate.getFullYear() }}
            </h5>
          </span>
        </div>
        <div class="row">
          <p>{{ days[returnDate.getDay()] }}</p>
        </div>
        <div *ngIf="returnCalendar">
          <calendar
            [month]="returnDate.getMonth()"
            [year]="returnDate.getFullYear()"
            [date]="returnDate.getDate()"
            (newDate)="newReturnDate($event)"
          ></calendar>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <p>
        <strong style="font-size: 0.8em">Travellers, class</strong>
      </p>
    </div>
  </div>
  <zippy title="Traveller, Economy" [traveller]="traveller">
    <br />
    <div class="row">
      <div class="col-4">
        <p>
          <strong>Adult</strong>
        </p>
      </div>
      <div class="col-4">
        <p>
          <strong>Child</strong>
          <span class="text-muted">(2-12 yrs)</span>
        </p>
      </div>
      <div class="col-4">
        <p>
          <strong>Infants</strong>
          <span class="text-muted">(Below 2 yrs)</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <span
          class="pl-3 pr-3 border"
          style="cursor: pointer"
          (click)="decrease('adult')"
        >
          -
        </span>
        <span class="pl-3 pr-3 border bg-light">{{ adult }}</span>
        <span
          class="pl-3 pr-3 border"
          style="cursor: pointer"
          (click)="increase('adult')"
        >
          +
        </span>
      </div>
      <div class="col-4">
        <span
          class="pl-3 pr-3 border"
          style="cursor: pointer"
          (click)="decrease('child')"
        >
          -
        </span>
        <span class="pl-3 pr-3 border bg-light">{{ child }}</span>
        <span
          class="pl-3 pr-3 border"
          style="cursor: pointer"
          (click)="increase('child')"
        >
          +
        </span>
      </div>
      <div class="col-4">
        <span
          class="pl-3 pr-3 border"
          style="cursor: pointer"
          (click)="decrease('infant')"
        >
          -
        </span>
        <span class="pl-3 pr-3 border bg-light">{{ infant }}</span>
        <span
          class="pl-3 pr-3 border"
          style="cursor: pointer"
          (click)="increase('infant')"
        >
          +
        </span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12 text-dark">
        <input
          type="radio"
          name="namesRadioGroup"
          class="mr-1"
          id="economy"
          value="Economy"
          (change)="type()"
          [(ngModel)]="bookClass"
        />Economy
        <br />
        <input
          type="radio"
          name="namesRadioGroup"
          class="mr-1"
          value="Premium Economy"
          id="premiumEconomy"
          (change)="type()"
          [(ngModel)]="bookClass"
        />Premium Economy
        <br />
        <input
          type="radio"
          class="mr-1"
          name="namesRadioGroup"
          id="business"
          value="Business"
          (change)="type()"
          [(ngModel)]="bookClass"
        />Business
      </div>
    </div>
  </zippy>
  <hr />
  <div class="row">
    <div class="col-md-12 text-right">
      <button
        *ngIf="depart && going"
        class="btn btn-danger p-2"
        style="cursor: pointer"
        (click)="searchFlight()"
      >
        Search Flights
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
      <button
        *ngIf="!depart || !going"
        class="btn btn-danger p-2"
        style="cursor: pointer"
        disabled
        (click)="searchFlight()"
      >
        Search Flights
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
