/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*
.fa {
  font-size: 7px;
  position: absolute;
  margin: 2px;
}
.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}
.fa-2x {
  font-size: 2em;
}
.fa-stack-2x {
  font-size: 2em;
}
.fas {
  font-family: "Font Awesome 5 Free";
} */
.dropbtn {
  padding: 14px;
  font-size: 14px;
  border: none;
  color: white;
}
.dropdown {
  text-align: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  color: #2874f0;
}
.red1 {
  color: red;
}
.black1 {
  color: black;
}
#fs10 {
  font-size: 0.71429rem;
  font-family: Rubik-Medium;
}
#fs11 {
  font-size: 1.14286rem;
  font-family: Rubik-Medium;
}
.expand {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  color: #666;
  font-size: 0.92857rem;
}
#rect {
  height: 15px;
  width: 5px;
  font-size: 0.78571rem;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #d3d3d3;
}
#rect1 {
  height: 15px;
  width: 5px;
  font-size: 0.78571rem;
  background-color: #ffd302;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #d3d3d3;
}
#rs1 {
  background-color: #d3d3d3;
  font-size: 10px;
  border-radius: 6px;
}
#fs10 {
  font-size: 1.429rem;
  font-family: Rubik-Medium;
}
#fs11 {
  font-size: 0.8571rem;
  font-family: Rubik-Regular, "Arial,Helvetica,sans-serif";
}
#fs12 {
  font-size: 1rem;
  color: #333;
  font-family: Rubik-Regular, "Arial,Helvetica,sans-serif";
  padding: 0;
}
#fs13 {
  font-size: 1.714rem;
  color: #333;
  font-family: Rubik-Medium;
}
#fs14 {
  font-size: 1rem;
  color: #333;
  font-family: Rubik-Medium;
}
#box1 {
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgb(0 0 0/36%);
}
#box2 {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding: 2.143rem 3.214rem;
}
#box3 {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding: 1.143rem 1.214rem;
}
#box4 {
  color: #666;
  background: #f5f5f5;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  font-size: 1.714rem;
  margin-left: 1.7px;
  margin-right: 1.7px;
}
#promoBox {
  display: inline-block;
  margin-bottom: 0.5rem;
  border: 1px dashed #02cb66;
  padding: 3px 10px;
  color: #02cb66;
  font-size: 12px;
  font-family: Rubik-Medium;
}
#ic1 {
  font-size: 16px;
  color: #d3d3d3;
}
.fab {
  font-family: Font Awesome 5 Brands;
}
#img1 {
  width: 28px;
  height: 28px;
  border-radius: 6px;
}
#fs9 {
  font-size: 1.07143rem;
  font-family: Rubik-Regular;
  font-weight: 400;
}
#fs8 {
  font-size: 10px;
  font-family: Rubik-Regular;
}
