<div class="container-fluid">
  <navbar></navbar>
  <br />
  <div class="row pl-1">
    <div class="col-lg-5 col-12">
      <left-panel></left-panel>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col text-muted">
          <strong>Flight Discounts for you</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-4" *ngFor="let o1 of offers">
          <img src="{{ o1 }}" style="width: 230px; height: auto" />
        </div>
      </div>
      <div>
        <img src="{{ banner }}" style="width: 770px" />
      </div>
      <h4 class="text-secondary">Popular Domestic Flight Routes</h4>
      <div class="row text-center">
        <div class="col-2 m-2 bg-white" *ngFor="let f1 of flight">
          <h6 class="font-weight-bold">{{ f1.origin }}</h6>
          <div class="text-secondary">{{ f1.date }}</div>
          <h6 class="font-weight-bold mt-4">{{ f1.dest }}</h6>
          Starting from
          <button
            class="btn btn-sm btn-warning mt-2"
            style="border-radius: 2px"
          >
            Rs. {{ f1.amount }}
          </button>
        </div>
      </div>
      <h4 class="text-secondary">Popular Holiday Destinations</h4>
      <div class="row">
        <div class="col-5 m-1 bg-white p-1" *ngFor="let d1 of destination">
          <div class="row text-center">
            <div class="col-3">
              <img src="{{ d1.img }}" />
            </div>
            <div class="col-8">
              <div class="row">
                <div class="col">
                  <h6 class="font-weight-bold">{{ d1.place }}</h6>
                </div>
                <div class="col-10">
                  <span class="text-danger font-weight-bold">
                    Rs.{{ d1.price }}
                  </span>
                  per person
                </div>
                <div class="col-1">
                  <i class="fa fa-arrow-right my-2 ml-3"></i>
                </div>
                <div class="col text-secondary">{{ d1.days }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
