.prevnext {
  display: inline-block;
  width: 13%;
  text-align: center;
  font-weight: bold;
  margin: 1px;
}
.prevnext:hover {
  cursor: pointer;
}
.header {
  display: inline-block;
  width: 70.5%;
  text-align: center;
  margin: 1px;
  font-size: 17px;
  vertical-align: middle;
  font-weight: 500;
}
.week {
  display: inline-block;
  width: 13.15%;
  text-align: center;
  margin: 1px;
  font-size: 15px;
  font-weight: 500;
  vertical-align: middle;
  background-color: #fff;
}
.cell {
  display: inline-block;
  width: 13.15%;
  text-align: center;
  margin: 1px;
}
.selected {
  display: inline-block;
  width: 13.15%;
  text-align: center;
  margin: 1px;
  vertical-align: middle;
  font-size: 15px;
  background-color: #f34f4f;
}
.cell41 {
  display: inline-block;
  width: 13.15%;
  text-align: center;
  margin: 1px;
}
.row {
  display: inline-block;
  width: 12%;
  margin: 1px;
}
.cell:hover {
  cursor: pointer;
}
