<div class="p-1 m-0" style="font-size: small">
  <div class="prevnext" (click)="previous()" id="previous"><<</div>
  <div class="header" id="monyear">{{ mlist[month] }} {{ year }}</div>
  <div class="prevnext" (click)="next()" id="next">>></div>
  <div>
    <div class="week" id="week" *ngFor="let d1 of days">{{ d1 }}</div>
  </div>
  <div>
    <div *ngFor="let d1 of date">
      <span *ngFor="let a1 of d1">
        <span
          class="{{ selectedDate == a1 ? 'selected' : 'cell' }}"
          *ngIf="a1 !== 0"
          (click)="selectDate(a1)"
          >{{ a1 }}</span
        >
      </span>
    </div>
  </div>
</div>
