.right-slider {
  position: absolute;
  top: 45%;
  opacity: 0.8;
  right: 0px;
  background: #fff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  padding: 6px 5px 5px 8px;
  margin-right: 5px;
  cursor: pointer;
  font-weight: normal;
  list-style: none;
}
.left-slider {
  position: absolute;
  top: 45%;
  opacity: 0.8;
  left: 0px;
  background: #fff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  padding: 6px 10px 5px 8px;
  margin-left: 5px;
  cursor: pointer;
  font-weight: normal;
  list-style: none;
}
