<div class="row ml-2 mt-1 mb-1" id="box1" style="background-color: white">
  <div class="col-4 pl-0 pt-0">
    <span class="left-slider" *ngIf="n > 0" (click)="previous()">
      <i
        class="fa fa-angel-left"
        style="
          line-height: 17px;
          opacity: 0.5;
          color: #000;
          outline: none;
          background-color: #fba202;
        "
      ></i>
    </span>
    <span class="right-slider" *ngIf="n < 3" (click)="next()">
      <i
        class="fa fa-angel-right"
        style="
          line-height: 17px;
          opacity: 0.5;
          color: #000;
          outline: none;
          background-color: #fba202;
        "
      ></i>
    </span>
    <img
      src="{{ h1.imgList[n] }}"
      style="width: 280px; height: 250px; border-radius: 3px; cursor: pointer"
      (click)="chooseRoom(h1)"
    />
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-8">{{ h1.name }}</div>
      <div class="col-4 text-right" style="font-weight: bold; color: gray">
        {{ h1.tripadvisorRating }}
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <span style="color: lightsalmon; font-size: 18px; font-weight: bold">
          {{ h1.rating }} </span
        >&nbsp;
        <i
          class="fa fa-map-marker"
          style="color: darkgray; font-size: 18px; font-weight: bold"
        ></i
        >&nbsp;<span class="text-primary">{{ h1.location }}</span>
      </div>
      <div class="col-5 text-right" style="font-size: small">
        {{ h1.value }}
      </div>
    </div>
    <div class="row">
      <div class="col-8" style="font-size: 12px">
        <div class="row">
          <div *ngIf="h1['Free Cancellation']">
            <i class="fa fa-check-square-o"></i> Free Cancellation
          </div>
          &nbsp;
          <div *ngIf="h1['Free WiFi']">
            <i class="fa fa-wifi"></i> Free WiFi
          </div>
          &nbsp;
          <div *ngIf="h1['Swimming pool']">
            <i class="fa fa-circle"></i> Swimming Pool
          </div>
          &nbsp;
        </div>
      </div>
      <div class="col-4 text-right">
        <span style="text-decoration: line-through; color: #999">
          ₹{{ h1.prevPrice }}
        </span>
        <strong style="font-size: 25px">₹{{ h1.price }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <span>
          <img
            src="https://css.yatra.com/content/b2c-cdn/bongo-cdn/banners/hotel/yatra-safetyAssured/cleanPass.png"
            class="res-img"
            style="margin-top: -2px; height: 23px"
          /> </span
        >&nbsp;&nbsp;
        <span *ngIf="h1['Couple Friendly']">
          <i class="fa fa-user"></i><i class="fa fa-user"></i> Couple Friendly
        </span>
      </div>
      <div class="col-4 text-right">For 2 nights</div>
    </div>
    <div class="row">
      <div class="col text-right m-3">
        <button
          class="btn btn-danger"
          style="cursor: pointer"
          (click)="chooseRoom(h1)"
        >
          Choose Room
        </button>
      </div>
    </div>
    <br />
    <br />
    <div class="row" style="font-size: 12px">
      <footer class="pl-3" *ngIf="h1.prevPrice">
        You Save
        <span style="color: #00a680"> ₹{{ h1.prevPrice - h1.price }} | </span>
        <span
          ><a>Login</a> & get additional ₹250 off using
          <span style="color: #fba202">eCash</span></span
        >
      </footer>
    </div>
  </div>
</div>
<br />
