<div class="container-fluid" style="background-color: lightgray">
  <navbar></navbar>
  <br />
  <div class="row" *ngIf="flight && data.returnDate">
    <div class="col-lg-9 col-12">
      <div class="row">
        <div class="col-1 text-left"><i class="fa fa-search"></i></div>
        <div
          class="col-lg-8 col-10 text-left"
          style="color: #43264e; font-weight: 500; font-size: 1.428rem"
        >
          Review your Bookings
        </div>
      </div>
      <div class="row bg-white" id="box2">
        <div class="col-12">
          <div class="row bg-white" style="padding-top: 12px">
            <div
              class="col-lg-2 col-12 text-center d-none d-sm-block d-md-none"
            >
              <div class="row pl-1">
                <div class="col-4 text-center">
                  <img style="width: 40px" src="{{ flight.arrival.logo }}" />
                </div>
                <div class="col-4 pt-2" id="rs1">{{ flight.arrival.name }}</div>
                <div class="col-4 pt-2" id="rs1">
                  {{ flight.arrival.airBus }}
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-12 text-center d-none d-lg-block">
              <div class="row pl-1">
                <div class="col-lg-12 col-12">
                  <img style="width: 40px" src="{{ flight.arrival.logo }}" />
                </div>
              </div>
              <div class="row pl-1">
                <div class="col-lg-12 col-12">{{ flight.arrival.name }}</div>
              </div>
              <div class="row pl-1 text-secondary">
                <div class="col-lg-12 col-12">{{ flight.arrival.airBus }}</div>
              </div>
            </div>
            <div class="col-lg-2 col-4">
              <div class="row" id="fs12">{{ flight.arrival.desDept }}</div>
              <div class="row" id="fs13">{{ flight.arrival.timeDept }}</div>
              <div class="row text-secondary" id="fs11">
                {{ flight.arrival.T1 }}
              </div>
            </div>
            <div class="col-lg-6 col-3">
              <div class="row">
                <div class="col-lg-4 col-12 text-right" id="fs12">
                  {{ flight.arrival.total }}
                </div>
                <div class="col-4 d-none d-lg-block" id="fs12">
                  <span class="text-secondary">| </span>
                  <span class="text-secondary"
                    >{{ flight.arrival.meal }} Meal</span
                  >
                  <span class="text-secondary"> |</span>
                </div>
                <div class="col-4 d-none d-lg-block text-left" id="fs12">
                  <span class="text-secondary">{{ flight.arrival.type }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-5 d-none d-lg-block"><hr /></div>
                <div class="col-lg-2 col-12 mt-1 text-center">
                  <i class="fa fa-fighter-jet" id="ic1"></i>
                </div>
                <div class="col-5 d-none d-lg-block"><hr /></div>
              </div>
              <div class="row">
                <div
                  class="col text-right d-none d-lg-block text-center"
                  id="fs12"
                >
                  {{ flight.arrival.checkin }} kgs |
                  <span class="text-success">Partially Refundalbe</span>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-5">
              <div class="row" id="fs12">{{ flight.arrival.desArr }}</div>
              <div class="row" id="fs13">{{ flight.arrival.timeArr }}</div>
              <div class="row text-secondary" id="fs11">
                {{ flight.arrival.T2 }}
              </div>
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-2 d-none d-lg-block"></div>
            <div
              class="col-lg-10 col-12"
              style="
                background-color: #fffcc7;
                padding: 8px 15px 7px 15px;
                border-radius: 80px;
              "
            ></div>
          </div>
        </div>
      </div>
      <div class="row bg-white" id="box2">
        <div class="col-12">
          <div class="row bg-white" style="padding-top: 12px">
            <div
              class="col-lg-2 col-12 text-center d-none d-sm-block d-md-none"
            >
              <div class="row pl-1">
                <div class="col-4 text-center">
                  <img style="width: 40px" src="{{ flight.departure.logo }}" />
                </div>
                <div class="col-4 pt-2" id="rs1">
                  {{ flight.departure.name }}
                </div>
                <div class="col-4 pt-2" id="rs1">
                  {{ flight.departure.airBus }}
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-12 text-center d-none d-lg-block">
              <div class="row pl-1">
                <div class="col-lg-12 col-12">
                  <img style="width: 40px" src="{{ flight.departure.logo }}" />
                </div>
              </div>
              <div class="row pl-1">
                <div class="col-lg-12 col-12">{{ flight.departure.name }}</div>
              </div>
              <div class="row pl-1 text-secondary">
                <div class="col-lg-12 col-12">
                  {{ flight.departure.airBus }}
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-4">
              <div class="row" id="fs12">{{ flight.departure.desDept }}</div>
              <div class="row" id="fs13">{{ flight.departure.timeDept }}</div>
              <div class="row text-secondary" id="fs11">
                {{ flight.departure.T1 }}
              </div>
            </div>
            <div class="col-lg-6 col-3">
              <div class="row">
                <div class="col-lg-4 col-12 text-right" id="fs12">
                  {{ flight.departure.total }}
                </div>
                <div class="col-4 d-none d-lg-block" id="fs12">
                  <span class="text-secondary">| </span>
                  <span class="text-secondary"
                    >{{ flight.departure.meal }} Meal</span
                  >
                  <span class="text-secondary"> |</span>
                </div>
                <div class="col-4 d-none d-lg-block text-left" id="fs12">
                  <span class="text-secondary">{{
                    flight.departure.type
                  }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-5 d-none d-lg-block"><hr /></div>
                <div class="col-lg-2 col-12 mt-1 text-center">
                  <i class="fa fa-fighter-jet" id="ic1"></i>
                </div>
                <div class="col-5 d-none d-lg-block"><hr /></div>
              </div>
              <div class="row">
                <div
                  class="col text-right d-none d-lg-block text-center"
                  id="fs12"
                >
                  {{ flight.departure.checkin }} kgs |
                  <span class="text-success">Partially Refundalbe</span>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-5">
              <div class="row" id="fs12">{{ flight.departure.desArr }}</div>
              <div class="row" id="fs13">{{ flight.departure.timeArr }}</div>
              <div class="row text-secondary" id="fs11">
                {{ flight.departure.T2 }}
              </div>
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-2 d-none d-lg-block"></div>
            <div
              class="col-lg-10 col-12"
              style="
                background-color: #fffcc7;
                padding: 8px 15px 7px 15px;
                border-radius: 80px;
              "
            ></div>
          </div>
        </div>
      </div>

      <br />

      <div class="row bg-white" id="box2">
        <div class="col-12">
          <div class="row bg-white">
            <div class="col-1 text-right"></div>
          </div>
          <div class="row bg-white">
            <div class="col-lg-1 col-2 text-right">
              <input
                class="form-check-input"
                id="defaultCheck"
                type="checkbox"
                value="762"
                (change)="cancelAdd()"
                [(ngModel)]="cancellation"
              />
            </div>
            <div class="col-1">
              <i class="fa fa-plane" style="color: green"></i>
            </div>
          </div>
          <div class="row text-success" id="fs10">
            <div class="col ml-1">Cancellation Policy</div>
          </div>
          <div class="row" id="fs14">
            <div class="col ml-1">
              Zero cancellation fee for your tickets when you cancel. Pay
              additional Rs.747
            </div>
          </div>
          <div class="row bg-white">
            <div
              class="col-12 text-center d-none d-lg-block"
              id="fs14"
              style="background-color: #fffcc7"
            >
              Travel Smart: Get additional refund of Rs. 3,051 in case of
              cancellation. Terms and Conditions
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-1 text-right" style="font-size: 25px; color: red">
          <i class="fa fa-user-edit"></i>
        </div>
        <div class="col-11" id="fs10">
          Enter Traveller Details |
          <span
            class="d-none d-lg-block"
            style="
              font-family: Rubik-Regular, Arial, Helvetica, sans-serif;
              font-size: 1rem;
            "
          >
            Sign in to book faster and use eCash
          </span>
        </div>
      </div>
      <div class="row bg-white" id="box2">
        <div class="col-12">
          <div class="row bg-white">
            <div class="col-lg-2 col-4" id="fs14">
              <b>Contact :</b>
            </div>
            <form [formGroup]="formArr" (ngSubmit)="payment()">
              <div class="row">
                <div class="col-6 form-group">
                  <input
                    class="form-control"
                    formControlName="email"
                    id="email1"
                    type="email"
                    placeholder="Enter email"
                  />
                  <div *ngIf="email.invalid && email.dirty" class="text-danger">
                    <div *ngIf="email.errors.email">Enter a valid Email</div>
                  </div>
                </div>
                <div class="col-6 form-group">
                  <input
                    class="form-control"
                    formControlName="phone"
                    id="contact1"
                    type="text"
                    placeholder="Mobile Number"
                  />
                  <div *ngIf="phone.invalid && phone.dirty" class="text-danger">
                    <div *ngIf="phone.errors.required">Moible is required.</div>
                    <div *ngIf="phone.errors.pattern">
                      Enter valid mobile number.
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row bg-white" style="color: #666; font-size: 1rem">
            <div class="col-2 d-none d-lg-block"></div>
            <div class="col-lg-10 col-12" id="fs14">
              Your booking details will be sent to this email address and mobile
              number.
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-2 d-none-d-lg-block"></div>
            <div class="col-lg-10 col-12" id="fs14">
              Also send my booking details on Whatsapp
              <i
                class="fab fa-whatsapp-square"
                style="color: green; font-size: 18px"
              ></i>
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-2 d-none d-lg-block"></div>
            <div class="col-lg-10 col-12">
              <hr />
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-2 d-none d-lg-block"></div>
            <div class="col-10" id="fs14"><b>Traveller Information</b></div>
          </div>
          <div class="row bg-white">
            <div class="col-2 d-none d-lg-block"></div>
            <div class="col-lg-10 col-12" id="fs14">
              <b>Important Note:</b>
              Please ensure that the names of the passengers on the travel
              documents is the same is the same as on their government issued
              identity proof.
            </div>
          </div>
          <form [formGroup]="formArr" (ngSubmit)="payment()">
            <div
              class="row bg-white"
              formArrayName="arr"
              *ngFor="let item of formArr.get('arr')['controls']; let i = index"
            >
              <div class="col-12">
                <div [formGroupName]="i" class="row">
                  <div class="col-lg-2 col-12" id="fs14">
                    <label>{{ travellers[i] }}</label>
                  </div>
                  <div class="col-5">
                    <input
                      class="form-control"
                      formControlName="firstName"
                      placeholder="First Name"
                    />
                  </div>
                  <div class="col-5">
                    <input
                      class="form-control"
                      formControlName="lastName"
                      placeholder="Last Name"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row bg-white" id="box2">
        <div class="col-12 d-none d-lg-block">
          <div class="row bg-white" style="color: #666; font-size: 1rem">
            <div class="col-1 text-center mt-1">
              <i class="fa fa-university" style="font-size: 35px"></i>
            </div>
            <div class="col-10 text-left">
              <div class="row" id="fs14">
                <b>Add your GST Details (Optional)</b>
              </div>
              <div class="row" id="fs14">
                Claim credit of GST charges. Your taxes may get updated post
                submitting your GST details.
              </div>
            </div>
          </div>
          <div class="row bg-white" style="color: #666; font-size: 1rem">
            <div class="col-1 text-center">
              <i class="fa fa-suitcase-rolling" style="font-size: 35px"></i>
            </div>
            <div class="col-10 text-left">
              <div class="row" id="fs14">
                <b>Travelling for work?</b>
              </div>
              <div class="row" id="fs14">
                Join Yatra for Business. View Benefits
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-1 text-right" style="font-size: 25px; color: red">
          <i class="fa fa-umbrella"></i>
        </div>
        <div class="col-11" id="fs10">
          Travel Protection <span id="fs14">(Recommended)</span>
        </div>
      </div>
      <div class="row bg-white" id="box2">
        <div class="col-12">
          <div class="row bg-white">
            <div class="col-2 text-center">
              <input
                class="form-check-input"
                id="check1"
                type="checkbox"
                value=""
                (change)="protectAdd()"
                [(ngModel)]="protection.check"
              />
            </div>
            <div class="col-10 mt-1" id="fs14">
              Yes, Add Travel Protection to protect my trip (Rs.269 per
              traveller)
            </div>
          </div>
          <div class="row bg-white" style="color: #db9a00; font-size: 1.143rem">
            <div class="col-1 d-none d-lg-block"></div>
            <div class="col-11 d-none d-lg-block" id="fs14">
              6000+ travellers on Yatra protect their trip daily.
              <span class="text-primary">Learn More</span>
            </div>
          </div>
          <div class="row bg-white">
            <div
              class="col-12 text-left text-muted d-none d-lg-block"
              id="fs14"
            >
              Cover Includes:
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-4 text-center d-none d-lg-block" id="fs14">
              <div class="row">
                <div class="col text-left">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
              </div>
              <div class="row" style="font-size: 0.87rem">
                Trip Cancellation
              </div>
              <div class="row" style="font-size: 0.87rem">
                Claim upto Rs.25,000
              </div>
            </div>
            <div
              class="col-4 text-center d-none d-lg-block"
              style="font-size: 1rem"
            >
              <div class="row mb-1">
                <div class="col text-left">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
              </div>
              <div class="row" style="font-size: 0.87rem">Loss of Baggage</div>
              <div class="row" style="font-size: 0.87rem">
                Claim upto Rs.25,000
              </div>
            </div>
            <div
              class="col-4 text-center d-none d-lg-block"
              style="
                font-size: 0.87rem;
                font-family: Rubik-Regular, Arial, Helvetica, sans-serif;
              "
            >
              <div class="row">
                <div class="col text-left">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-ambulance fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
              </div>
              <div class="row" style="font-size: 0.87rem">
                Medical Emergency
              </div>
              <div class="row" style="font-size: 0.87rem">
                Claim upto Rs.25,000
              </div>
            </div>
          </div>
          <div class="row bg-white">
            <div
              class="col-12 text-center d-none d-lg-block"
              style="font-size: 0.87rem"
            >
              Note: Travel Protection is applicable only for Indian citizens
              below the age of 70 years.
              <span class="text-primary">Terms & Conditions</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-12">
      <div class="row">
        <div class="col" style="color: black; font-weight: 500">
          Fare Details
        </div>
      </div>
      <div class="row bg-white" id="box3">
        <div class="col-12">
          <div class="row bg-white">
            <div class="col-8 text-left">Base Fare(1 Traveller)</div>
            <div class="col-4 text-right">
              ₹ {{ flight.arrival.Price + flight.departure.Price }}
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-8 text-left">Fees and & Surcharge</div>
            <div class="col-4 text-right">₹ 622</div>
          </div>
          <div class="row bg-white">
            <div class="col-12 text-center"><hr /></div>
          </div>
          <div class="row bg-white">
            <div class="col-6 text-left" id="fs12">Total Fare</div>
            <div class="col-6 text-right" id="fs12">₹ {{ totalFare }}</div>
          </div>
        </div>
      </div>
      <div class="row" id="box4">
        <div class="col-7 text-left" id="fs13">You Pay</div>
        <div class="col-5 text-right" id="fs13">{{ totalFare }}</div>
      </div>
      <br />
      <div class="row">
        <div class="col">Promo</div>
      </div>
      <div class="row bg-white mr-1 ml-1" id="box3">
        <div class="col-12">
          <div class="row">
            <div class="col-12">Select A Promo Code</div>
          </div>
          <div class="row" *ngFor="let p1 of promo.promo; index as i">
            <div class="col-12">
              <div class="form-check ml-3">
                <input
                  class="form-check-input"
                  type="radio"
                  name="promoRadio"
                  value="{{ p1.id }}"
                  id="{{ i }}"
                  (change)="promoAdd(p1)"
                  [(ngModel)]="promo.select"
                />
                <label class="form-check-label" for="promoRadio1" id="promoBox">
                  <span style="font-size: 12px; color: #02cb66">
                    &nbsp;{{ p1.id }}
                  </span>
                </label>
                <div class="row">
                  <div class="col-10" style="font-size: 12px; color: #999">
                    {{ p1.disp }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!data.returnDate && flight">
    <div class="col-lg-9 col-12">
      <div class="row">
        <div class="col-1 text-left"><i class="fa fa-search"></i></div>
        <div
          class="col-lg-8 col-10 text-left"
          style="color: #43264e; font-weight: 500; font-size: 1.428rem"
        >
          Review your Bookings
        </div>
      </div>
      <div class="row bg-white" id="box2">
        <div class="col-12">
          <div class="row bg-white" style="padding-top: 12px">
            <div
              class="col-lg-2 col-12 text-center d-none d-sm-block d-md-none"
            >
              <div class="row pl-1">
                <div class="col-4 text-center">
                  <img style="width: 40px" src="{{ flight.logo }}" />
                </div>
                <div class="col-4 pt-2" id="rs1">{{ flight.name }}</div>
                <div class="col-4 pt-2" id="rs1">{{ flight.airBus }}</div>
              </div>
            </div>
            <div class="col-lg-2 col-12 text-center d-none d-lg-block">
              <div class="row pl-1">
                <div class="col-lg-12 col-12">
                  <img style="width: 40px" src="{{ flight.logo }}" />
                </div>
              </div>
              <div class="row pl-1">
                <div class="col-lg-12 col-12">{{ flight.name }}</div>
              </div>
              <div class="row pl-1 text-secondary">
                <div class="col-lg-12 col-12">{{ flight.airBus }}</div>
              </div>
            </div>
            <div class="col-lg-2 col-4">
              <div class="row" id="fs12">{{ flight.desDept }}</div>
              <div class="row" id="fs13">{{ flight.timeDept }}</div>
              <div class="row text-secondary" id="fs11">{{ flight.T1 }}</div>
            </div>
            <div class="col-lg-6 col-3">
              <div class="row">
                <div class="col-lg-4 col-12 text-right" id="fs12">
                  {{ flight.total }}
                </div>
                <div class="col-4 d-none d-lg-block" id="fs12">
                  <span class="text-secondary">| </span>
                  <span class="text-secondary">{{ flight.meal }} Meal</span>
                  <span class="text-secondary"> |</span>
                </div>
                <div class="col-4 d-none d-lg-block text-left" id="fs12">
                  <span class="text-secondary">{{ flight.type }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-5 d-none d-lg-block"><hr /></div>
                <div class="col-lg-2 col-12 mt-1 text-center">
                  <i class="fa fa-fighter-jet" id="ic1"></i>
                </div>
                <div class="col-5 d-none d-lg-block"><hr /></div>
              </div>
              <div class="row">
                <div
                  class="col text-right d-none d-lg-block text-center"
                  id="fs12"
                >
                  {{ flight.checkin }} kgs |
                  <span class="text-success">Partially Refundalbe</span>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-5">
              <div class="row" id="fs12">{{ flight.desArr }}</div>
              <div class="row" id="fs13">{{ flight.timeArr }}</div>
              <div class="row text-secondary" id="fs11">{{ flight.T2 }}</div>
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-2 d-none d-lg-block"></div>
            <div
              class="col-lg-10 col-12"
              style="
                background-color: #fffcc7;
                padding: 8px 15px 7px 15px;
                border-radius: 80px;
              "
            ></div>
          </div>
        </div>
      </div>
      <br />
      <div class="row bg-white" id="box2">
        <div class="col-12">
          <div class="row bg-white">
            <div class="col-1 text-right"></div>
          </div>
          <div class="row bg-white">
            <div class="col-lg-1 col-2 text-right">
              <input
                class="form-check-input"
                id="defaultCheck"
                type="checkbox"
                value="762"
                (change)="cancelAdd()"
                [(ngModel)]="cancellation"
              />
            </div>
            <div class="col-1">
              <i class="fa fa-plane" style="color: green"></i>
            </div>
          </div>
          <div class="row text-success" id="fs10">
            <div class="col ml-1">Cancellation Policy</div>
          </div>
          <div class="row" id="fs14">
            <div class="col ml-1">
              Zero cancellation fee for your tickets when you cancel. Pay
              additional Rs.747
            </div>
          </div>
          <div class="row bg-white">
            <div
              class="col-12 text-center d-none d-lg-block"
              id="fs14"
              style="background-color: #fffcc7"
            >
              Travel Smart: Get additional refund of Rs. 3,051 in case of
              cancellation. Terms and Conditions
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-1 text-right" style="font-size: 25px; color: red">
          <i class="fa fa-user-edit"></i>
        </div>
        <div class="col-11" id="fs10">
          Enter Traveller Details |
          <span
            class="d-none d-lg-block"
            style="
              font-family: Rubik-Regular, Arial, Helvetica, sans-serif;
              font-size: 1rem;
            "
          >
            Sign in to book faster and use eCash
          </span>
        </div>
      </div>
      <div class="row bg-white" id="box2">
        <div class="col-12">
          <div class="row bg-white">
            <div class="col-lg-2 col-4" id="fs14">
              <b>Contact :</b>
            </div>
            <form [formGroup]="formArr" (ngSubmit)="payment()">
              <div class="row">
                <div class="col-6 form-group">
                  <input
                    class="form-control"
                    formControlName="email"
                    id="email1"
                    type="email"
                    placeholder="Enter email"
                  />
                  <div *ngIf="email.invalid && email.dirty" class="text-danger">
                    <div *ngIf="email.errors.email">Enter a valid Email</div>
                  </div>
                </div>
                <div class="col-6 form-group">
                  <input
                    class="form-control"
                    formControlName="phone"
                    id="contact1"
                    type="text"
                    placeholder="Mobile Number"
                  />
                  <div class="text-danger" *ngIf="phone.invalid && phone.dirty">
                    <div *ngIf="phone.errors.required">Moible is required.</div>
                    <div *ngIf="phone.errors.pattern">
                      Enter valid mobile number.
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row bg-white" style="color: #666; font-size: 1rem">
            <div class="col-2 d-none d-lg-block"></div>
            <div class="col-lg-10 col-12" id="fs14">
              Your booking details will be sent to this email address and mobile
              number.
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-2 d-none-d-lg-block"></div>
            <div class="col-lg-10 col-12" id="fs14">
              Also send my booking details on Whatsapp
              <i
                class="fab fa-whatsapp-square"
                style="color: green; font-size: 18px"
              ></i>
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-2 d-none d-lg-block"></div>
            <div class="col-lg-10 col-12">
              <hr />
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-2 d-none d-lg-block"></div>
            <div class="col-10" id="fs14"><b>Traveller Information</b></div>
          </div>
          <div class="row bg-white">
            <div class="col-2 d-none d-lg-block"></div>
            <div class="col-lg-10 col-12" id="fs14">
              <b>Important Note:</b>
              Please ensure that the names of the passengers on the travel
              documents is the same is the same as on their government issued
              identity proof.
            </div>
          </div>
          <form [formGroup]="formArr" (ngSubmit)="payment()">
            <div
              class="row bg-white"
              formArrayName="arr"
              *ngFor="let item of formArr.get('arr')['controls']; let i = index"
            >
              <div class="col-12">
                <div [formGroupName]="i" class="row">
                  <div class="col-lg-2 col-12" id="fs14">
                    <label>{{ travellers[i] }}</label>
                  </div>
                  <div class="col-5">
                    <input
                      class="form-control"
                      formControlName="firstName"
                      placeholder="First Name"
                    />
                  </div>
                  <div class="col-5">
                    <input
                      class="form-control"
                      formControlName="lastName"
                      placeholder="Last Name"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row bg-white" id="box2">
        <div class="col-12 d-none d-lg-block">
          <div class="row bg-white" style="color: #666; font-size: 1rem">
            <div class="col-1 text-center mt-1">
              <i class="fa fa-university" style="font-size: 35px"></i>
            </div>
            <div class="col-10 text-left">
              <div class="row" id="fs14">
                <b>Add your GST Details (Optional)</b>
              </div>
              <div class="row" id="fs14">
                Claim credit of GST charges. Your taxes may get updated post
                submitting your GST details.
              </div>
            </div>
          </div>
          <div class="row bg-white" style="color: #666; font-size: 1rem">
            <div class="col-1 text-center">
              <i class="fa fa-suitcase-rolling" style="font-size: 35px"></i>
            </div>
            <div class="col-10 text-left">
              <div class="row" id="fs14">
                <b>Travelling for work?</b>
              </div>
              <div class="row" id="fs14">
                Join Yatra for Business. View Benefits
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-1 text-right" style="font-size: 25px; color: red">
          <i class="fa fa-umbrella"></i>
        </div>
        <div class="col-11" id="fs10">
          Travel Protection <span id="fs14">(Recommended)</span>
        </div>
      </div>
      <div class="row bg-white" id="box2">
        <div class="col-12">
          <div class="row bg-white">
            <div class="col-2 text-center">
              <input
                class="form-check-input"
                id="check1"
                type="checkbox"
                value=""
                (change)="protectAdd()"
                [(ngModel)]="protection.check"
              />
            </div>
            <div class="col-10 mt-1" id="fs14">
              Yes, Add Travel Protection to protect my trip (Rs.269 per
              traveller)
            </div>
          </div>
          <div class="row bg-white" style="color: #db9a00; font-size: 1.143rem">
            <div class="col-1 d-none d-lg-block"></div>
            <div class="col-11 d-none d-lg-block" id="fs14">
              6000+ travellers on Yatra protect their trip daily.
              <span class="text-primary">Learn More</span>
            </div>
          </div>
          <div class="row bg-white">
            <div
              class="col-12 text-left text-muted d-none d-lg-block"
              id="fs14"
            >
              Cover Includes:
            </div>
          </div>
          <div class="row bg-white">
            <div class="col-4 text-center d-none d-lg-block" id="fs14">
              <div class="row">
                <div class="col text-left">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
              </div>
              <div class="row" style="font-size: 0.87rem">
                Trip Cancellation
              </div>
              <div class="row" style="font-size: 0.87rem">
                Claim upto Rs.25,000
              </div>
            </div>
            <div
              class="col-4 text-center d-none d-lg-block"
              style="font-size: 1rem"
            >
              <div class="row mb-1">
                <div class="col text-left">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
              </div>
              <div class="row" style="font-size: 0.87rem">Loss of Baggage</div>
              <div class="row" style="font-size: 0.87rem">
                Claim upto Rs.25,000
              </div>
            </div>
            <div
              class="col-4 text-center d-none d-lg-block"
              style="
                font-size: 0.87rem;
                font-family: Rubik-Regular, Arial, Helvetica, sans-serif;
              "
            >
              <div class="row">
                <div class="col text-left">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-ambulance fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
              </div>
              <div class="row" style="font-size: 0.87rem">
                Medical Emergency
              </div>
              <div class="row" style="font-size: 0.87rem">
                Claim upto Rs.25,000
              </div>
            </div>
          </div>
          <div class="row bg-white">
            <div
              class="col-12 text-center d-none d-lg-block"
              style="font-size: 0.87rem"
            >
              Note: Travel Protection is applicable only for Indian citizens
              below the age of 70 years.
              <span class="text-primary">Terms & Conditions</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-12">
      <div class="row">
        <div class="col" style="color: black; font-weight: 500">
          Fare Details
        </div>
      </div>
      <div class="row bg-white" id="box3">
        <div class="col-12">
          <div class="row bg-white">
            <div class="col-8 text-left">Base Fare(1 Traveller)</div>
            <div class="col-4 text-right">₹ {{ flight.Price }}</div>
          </div>
          <div class="row bg-white">
            <div class="col-8 text-left">Fees and & Surcharge</div>
            <div class="col-4 text-right">₹ 622</div>
          </div>
          <div class="row bg-white">
            <div class="col-12 text-center"><hr /></div>
          </div>
          <div class="row bg-white">
            <div class="col-6 text-left" id="fs12">Total Fare</div>
            <div class="col-6 text-right" id="fs12">₹ {{ totalFare }}</div>
          </div>
        </div>
      </div>
      <div class="row" id="box4">
        <div class="col-7 text-left" id="fs13">You Pay</div>
        <div class="col-5 text-right" id="fs13">{{ totalFare }}</div>
      </div>
      <br />
      <div class="row">
        <div class="col">Promo</div>
      </div>
      <div class="row bg-white mr-1 ml-1" id="box3">
        <div class="col-12">
          <div class="row">
            <div class="col-12">Select A Promo Code</div>
          </div>
          <div class="row" *ngFor="let p1 of promo.promo; index as i">
            <div class="col-12">
              <div class="form-check ml-3">
                <input
                  class="form-check-input"
                  type="radio"
                  name="promoRadio"
                  value="{{ p1.id }}"
                  id="{{ i }}"
                  (change)="promoAdd(p1)"
                  [(ngModel)]="promo.select"
                />
                <label class="form-check-label" for="promoRadio1" id="promoBox">
                  <span style="font-size: 12px; color: #02cb66">
                    &nbsp;{{ p1.id }}
                  </span>
                </label>
                <div class="row">
                  <div class="col-10" style="font-size: 12px; color: #999">
                    {{ p1.disp }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button
        class="btn btn-danger text-white"
        style="border-radius: 2px"
        type="submit"
        (click)="payment()"
        [disabled]="!formArr.valid"
      >
        Proceed to Payment
      </button>
    </div>
  </div>
</div>
